<div class="show-job-page">
	<div class="container">
			<div class="col-md-9">
				<h1>Job position: <%= @gig.name %></h1> <br>
				<h4>Description: <%= @gig.description %></h4> <br>
				<h5>Job location: <%= @gig.location %></h5> <br>
				<h5>Budget: $<%= @gig.budget %> </h5>
			</div>
	</div>
</div>




