<div class="footer">
		<div class="container">
				<div class="row">
						<div class="col-md-3">
							<h3>About US</h3>
							<p>Lorem ipsum...</p>
						</div>
						<div class="col-md-3">
							<h3>Get In Touch</h3>
							<p>Lorem ipsum...</p>
						</div>
						<div class="col-md-3">
							<h3>Helpful links</h3>
						<ul>
									<li>Browse all jobs</li>
									<li>Post a Job</li>
									<li>Sign Up</li>
									<li>Sign In</li> 
							</ul>
						</div>
						<div class="col-md-3">
							<h3>Trending Jobs</h3>
							<ul>
									<li>React JS Developer</li>
									<li>Ruby on Rails programmer</li>
									<li>Django Developer</li>
									<li>UX/UI Designer</li>
									<li>Account Manager</li>
							</ul>
						</div>
				</div>
		</div>
</div>